@import "../../variables.scss";

.section {
    .date {
      font-family: $font-raleway;
    }

    .container {
      text-align: justify;
      padding-left: 15%;
      padding-right: 15%;
    }

}
