<section class="section is-medium">
  <div class="container">
    <p class="date"><b>Feature Article  {{ month }} {{ day }}, {{ year }}</b></p>
    <div class="columns">
      <div class="column is-one-third">
        {{ featureArticle.title }}
        {{ featureArticle.category }}
        {{ featureArticle.subtitle }}
        <p>published {{ featureArticle.date }}</p>
        <a (click)="visitFeatureArticle(featureArticle.id)">Read</a>
      </div>
      <div class="column imageColumn">
        <!-- leave blank -->
      </div>
    </div>
  </div>
</section>
