<section class="section is-medium">
  <div class="container">
    <p class="date">{{ month }} {{ day }}, {{ year }} &nbsp;&nbsp;<span class="WIP">This blog is a work in progress. Dummy articles only.</span></p>
    <br><br>
    <div class="columns">
      <div class="column is-half articleColumn">
        <p class="articleTitle">{{ featureArticle.title }}</p>
        <p class="publishDate"><i>published {{ featureArticle.date }}</i></p>
        <p class="category">{{ featureArticle.category }}</p>
        <br>
        <p class="articleSubtitle">{{ featureArticle.subtitle }}</p>
        <br>
        <p class="readOn" (click)="visitFeatureArticle(featureArticle.id)">
          <a>Read on here</a>
        </p>
      </div>
      <div class="column imageColumn">
        <!-- leave blank -->
      </div>
    </div>
  </div>
</section>
