@import "../../variables.scss";

.container {
    padding-left: 15%;
    padding-right: 15%;
    .subtitle {
      font-size: 2em;
      font-family: $font-raleway;
      margin: 0;
    }
    .date {
      font-family: $font-raleway;
      margin: 0;
    }
}
