<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">

      <header class="card-header">
          <p class="card-header-title">
            FOMO Church
          </p>
          <a (click)="toggle()" class="card-header-icon">
            &times;
          </a>
      </header>

      <div class="card-content">
          <p class="subtitle">Javascript, jQuery, HTML, CSS, Bootstrap</p>
          <p>This cryptocurrency calculator tells the user how much money they would have made (or lost) if they had bought cryptocurrency (our API has every currency on the market) on date X and sold on future date Y.</p>
          <br>
          <a class="githublink"
             href="https://github.com/GreanBeetle/Hale-Monk">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;On Github
          </a>
      </div>
    </div>

  </div>
</div>
