<section class="section is-medium">
  <div class="container" style="text-align: center;">
    <img src="assets/img/under_construction.png" style="max-height:150px;">
    <h1 class="title">This page is under construction. Very soon it will include:</h1>
    <ul>
      <li><h3 class="subtitle">An API built with firebase</h3></li>
      <li><h3 class="subtitle">Data visualization</h3></li>
      <li><h3 class="subtitle">Pagination</h3></li>
      <li><h3 class="subtitle">Logic problems</h3></li>
      <li><h3 class="subtitle">CRUD functionality</h3></li>
      <li><h3 class="subtitle">User authentication</h3></li>
    </ul>
    <br>
    <h1 class="title">Please come back!</h1>
  </div>
</section>
<app-nasa-api></app-nasa-api>
