<section class="section">
  <div class="card">
    <h1 class="title">login</h1>
    <form>
      <input type="email" placeholder="email" #email><br><br>
      <input type="password" placeholder="password" #password><br><br>
      <a class="button is-black"
         (click)="login(email.value, password.value)">
         login
      </a>
    </form>
    <br>
    <a (click)="forgotPassword()" class="forgotPassword"><small>Forgot your password?</small></a>
  </div>
</section>

<div [class]="isActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="forgotPassword()"></button>
</div>
