@import "../../variables.scss";

.section {
    height: 100% !important;
    min-height: 100% !important;
    text-align: center;
    background-image: url("/assets/img/blurred-lights-two.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    .loginTitle {
        font-family: $font-raleway;
        font-size: 1.3em;
        color: #fff;
        font-weight: lighter;
    }
    .card {
        border-radius: 5px;
        max-width: 300px;
        margin: 0 auto;
        background-color: $campfire;
        padding: 20px;
        margin-top: 10%;
        box-shadow: 2px 2px 2px #262626;
        input {
          padding: 5px;
          text-align: center;
          font-family: $font-raleway;
        }
        .button {
          width: 100%;
          border-radius: 2px;
          font-family: $font-raleway;
          padding: 5px;
          background-color: $campfire-red;
        }
        small {
          font-family: $font-raleway;
          color: #fff;
        }
        .forgotPassword:hover, .createAccount:hover {
          cursor: pointer;
          color: $blue;
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    .section {
        .card {
            max-width: 300px;
            input {
              min-width: 150px;
            }
            .button {
              min-width: 150px;
            }
        }
    }
}

// reset password modal window

.modal-content {
  text-align: center;
}

.resetPasswordCard {
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;

    p {
      font-family: $font-raleway;
    }

    input {
      width: 200px;
      padding: 5px;
      text-align: center;
    }

    ::placeholder {
      font-family: $font-raleway;
    }

    .button {
      min-width: 200px;
      font-family: $font-nova-norm;
    }
}
