<section class="section is-medium">
  <div class="container" style="text-align: center;">
    <img src="assets/img/under_construction.png" style="max-height:150px;">
    <div class="card" style="margin:0 auto; text-align:center;">
      <!-- <a class="button is-black" (click)="githubLogin()">Github Login</a> -->
      <a class="button is-gray" (click)="googleLogin()">Google Login</a>
      <a class="button is-black" (click)="githubLogin()">Github Login</a>
      <br>
      <a (click)="logout()">logout</a>
    </div>
  </div>
</section>
