<section class="section is-medium">
  <div class="container" >
    <div class="titleContainer" routerLink='crux'>
      <h1 class="title">c&#8194;r&#8194;u&#8194;x</h1>
      <h4 class="subtitle">
        noun | ˈkrəks , ˈkru̇ks \
      </h4>
    </div>
    <p>1 : the essential point; 2 : the main or central feature</p><br>
    <div class="paragraphs">
      <p>"Crux" is my tech blog. It's written for noobs and junior devs. Its goal is simple: <strong>Explain computer, internet, and programming terms as simply as possible.</strong></p>
      <br>
      <p>The idea for this gelled during code school. Looking through documentation and technical web articles, I often wanted simpler, more lucid explanations. Many times a technical term was explained using additional tech terms. And that led to many a rabbit hole, seeking comprehension of one idea in order to understand another. Where could I find these things written about in plain English, for the absolute beginner? (There are, in fact, many great, accessible articles about technology. But finding these ghosts is not always easy.) In short, I eventually realized that the best thing to do would be contribute. And that is what led to this.</p>
      <br>
      <p>I try to stick to a few rules.</p>
      <br>
      <ul>
        <li>Avoid technical jargon where possible</li>
        <li>List the prerequesites</li>
        <li>Pretend to write for eighth graders</li>
        <li>Keep George Orwell in mind. "Never use a long word where a short one will do," he wrote. And, "If it is possible to cut a word out, always cut it out."
        </li>
      </ul>
      <br>
      <p>Thanks for reading. <a routerLink='crux'>Click here to visit crux</a>.</p>
    </div>
  </div>
</section>
