<section class="section is-medium" id="crux-section">
  <div class="container" >
    <div routerLink='crux'>
      <h1 class="title">c&#8194;r&#8194;u&#8194;x</h1>
      <h4 class="subtitle">
        noun | ˈkrəks , ˈkru̇ks \
      </h4>
    </div>
    <p>1 : the essential point; 2 : the main or central feature</p><br>
    <div class="tile is-ancestor">
      <div class="tile is-child">
        <p>"Crux" is my tech blog. It takes up a few pages on this website. And it has a simple goal: <strong>Explain computer, internet, and programming terms as simply as possible.</strong></p>
        <br>
        <p>The idea for this gelled during code school. Looking through programming documentation and technical web articles, I often grew frustrated. More often than not, one technical term would be explained using additional tech terms. And that led to many a rabbit hole, seeking comprehension of one idea in order to understand another. Why, I wondered, was there no place where this stuff was written in plain English? (There are, in fact, many accessible, nicely-written pieces about tech. But these web ghosts aren't easy to find.) Anyhow, I eventually realized I could contribute, in a small way, to the ocean of tech knowledge.</p>
        <br>
        <p>I try to stick to a few rules.</p>
        <br>
        <ul>
          <li>Technical jargon is avoided where possible.</li>
          <li>I assume the reader has little or no prior knowledge of the topic.</li>
          <li>I imagine I am writing to a class of eighth-graders. They are computer-literate, but aren't necessesarily familiar with, say, HTML or the differnece between Linux and iOSes.</li>
          <li>I keep George Orwell in mind. "Never use a long word where a short one will do," he wrote. And, "If it is possible to cut a word out, always cut it out."
          </li>
        </ul>
        <br>
        <p>Thanks for reading this far. <a routerLink='crux'>Click here to visit crux</a>."</p>
      </div>
    </div>
  </div>
</section>
