
<section class="section is-medium titleSection">
    <div class="container">
      <div class="titleContainer">
        <h1 class="title">C&nbsp;r&nbsp;u&nbsp;x</h1>
        <h4 class="subtitle">
          a&nbsp;&nbsp;&nbsp; b&nbsp;&nbsp;&nbsp;l&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;g
        </h4>
      </div>
      <div class="verticalLine"></div>
      <div class="taglineContainer">
        <h2 class="tagline">
          Coding and programming, backpacking, writing, and other esoterica.
        </h2>
      </div>
    </div>
    <br>
    <span class="shareSpan">
      <p id="shareThisPage">Share this page</p>
      <div class="shareButtons">
        <app-share-buttons></app-share-buttons>
      </div>
    </span>
</section>
