
<section class="section is-medium">
    <div class="container">
      <div class="titleContainer">
        <h1 class="title">C&nbsp;r&nbsp;u&nbsp;x</h1>
        <h4 class="subtitle">a blog</h4>
      </div>
    
      <div class="verticalLine"></div>

      <div class="taglineContainer">
        <h2 class="tagline">
          Coding and programming, backpacking, writing, and other reflections.
        </h2>
      </div>
      <hr>
      <app-share-buttons></app-share-buttons>
    </div>
</section>
