@import "../../variables.scss";

.section {
    .title {
      font-family: $font-nova-lite;
      font-size: 3.5em;
      font-weight: lighter;
      color: $extra-dark-gray;
      margin: 0px;
      padding: 0px;
    }

    h4 {
      font-family: $font-nova-lite;
      font-size: 1.5em;
      color: $dark-gray;
    }

    .tagline {
      font-family: $font-raleway;
      color: $dark-gray;
      font-size: 1.2em;
    }
}
