@import "../../variables.scss";

.section {
    text-align: center;

    .socialSidebar {
      position: fixed;
      top: 40%;
      z-index: 100;
      margin-left: 7%;
    }

    img {
      max-height: 150px;
    }

    .title, .subtitle {
      font-family: $font-nova-lite;
      color: $extra-dark-gray;
    }

    .title {
      font-size: 3.5em;
      font-weight: lighter;
    }

    .subtitle {
      margin-bottom: 5px;
      font-size: 2em;
    }

    .tagline {
      font-family: $font-raleway;
      color: $dark-gray;
      font-size: 1.5em;
      padding-left: 15%;
      padding-right: 15%;
    }

    // under construction
    .underconstruction {
      display: inline-block;
      img, p {
        display: inline;
      }
    }
}
