<section class="section is-small">
  <img src="/assets/img/meditatingastronaut.png">
  <h1 class="title">C&nbsp;r&nbsp;u&nbsp;x</h1>
  <h2 class="subtitle">A Tech Blog (mostly)</h2>
  <h2 class="tagline">
    "Simple explanations of tech terms, backpacking, writing, and other thoughts."
  </h2>
  <br>
  <div class="underconstruction">
    <img src="/assets/img/under-construction.jpg" style="max-height:100px;">
    <p>
      This page is under construction.
    </p>
    <img src="/assets/img/under-construction.jpg" style="max-height:100px;">
  </div>
  <div class="socialSidebar">
    <app-share-buttons></app-share-buttons>
  </div>
</section>
