@import "../../variables.scss";

.navbar {
  background-color: #000000;
}

.logoCrux {
  height: 40px;
  margin: 10px;
}

.navbar-item {
  color: $light-gray;
}

.authItem, .navbar-item {
  font-family: $font-raleway;
}

a:hover, .authItem:hover {
  color: $blue !important;
  background-color: #000 !important;
}

.code {
  font-family: $font-code;
  color: $blue-green;
}

.code:hover {
  color: $blue !important;
}

.logoutButton:hover, .authItem:hover, .navbar-brand:hover, button:hover {
  cursor: pointer;
}


.authItem, small {
  color: $dark-gray;
}

.logoutButton {
  color: #fff;
}


// mobile menu and sideBar
@media only screen and (min-width: 0px) and (max-width: 1088px)  {
  .mobile {
    display: block;
    .burger-icon {
      max-height: 30px;
      margin-left: 25px;
    }
    .w3-sidebar {
      top: 0px !important;
      z-index: 40;
      background-color: $dark-gray;
    }
    .w3-bar-item:hover {
      background-color: $light-gray !important;
    }
    a:hover {
      color: #000 !important;
    }
    button {
      height: 52px;
    }
    .signupLink:hover, .loginLink:hover {
      color: $blue !important;
    }
  }
  .mainNavbar {
    display: none;
  }
}

@media only screen and (min-width: 1089px) {
  .mobile {
    display: none;
  }
}

// mobile burger only
@media only screen and (min-width: 0px) and (max-width: 769px) {
  .mobile {
    .burger-icon {
      margin-top: 10px;
    }
  }
}

#adminLink {
  color: #E5001C !important;
}

.cruxLink {
  color: $blue-green;
}
.cruxLink:hover {
  color: $blue;
}
