<!-- main navbar -->
<nav class="navbar mainNavbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <nav class="level">
      <img src="/assets/img/logo-crux.png" class="logoCrux" routerLink="/">
    </nav>
  </div>
  <div class="navbar-end">

    <!-- logged in -->
    <div *ngIf="loggedIn" class="navbar-item">
      <small class="authItem"> {{ username }} </small>
      <small class="authItem logoutButton" (click)="logout()">&nbsp;&nbsp;logout</small>
    </div>

    <!-- not logged in -->
    <div *ngIf="!loggedIn" class="navbar-item">
      <small class="authItem" routerLink="login">login&nbsp;</small><br>
      <small class="or" > or&nbsp;</small><br>
      <small class="authItem" routerLink="signup">sign up</small>
    </div>

    <a routerLink="/" class="navbar-item">home</a>
    <a routerLink="/portfolio" class="navbar-item">portfolio</a>
    <a routerLink="/crux" class="navbar-item cruxLink">&lt;&#47;blog&#62;</a>
    <!-- removed until code component is complete -->
    <!-- <a routerLink="/code" class="navbar-item code">&lt;&#47;code&#62;</a> -->
    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin" class="navbar-item" id="adminLink">admin</a>
    </ng-container>
  </div>
</nav>

<div class="mobile">

  <!-- mobile navbar -->
  <nav class="navbar mobileNavbar">
    <div class="navbar-brand">
      <nav class="level">
        <img src="/assets/img/burger-icon.png" class="burger-icon" (click)="toggleMenu()">
      </nav>
    </div>
  </nav>

  <!-- hidden mobile sidebar -->
  <div class="w3-sidebar w3-bar-block" id="mySidebar" *ngIf="showMenu">
    <button (click)="toggleMenu()" class="w3-bar-item w3-large">close &times;</button>
    <a *ngIf="loggedIn" class="w3-bar-item w3-button"> {{ username }} <span (click)="logout()">&nbsp;&nbsp;logout</span></a>
    <a *ngIf="!loggedIn" class="w3-bar-item w3-button">
      <span routerLink="login" class="loginLink">login</span>
      or
      <span routerLink="signup" class="signupLink">sign up</span>
    </a>
    <a routerLink="/" class="w3-bar-item w3-button">home</a>
    <!-- removed until code component is complete -->
    <!-- <a routerLink="/code" class="w3-bar-item w3-button">&lt;&#47;code&#62;</a> -->
    <a routerLink="/crux" class="w3-bar-item w3-button cruxLink">&lt;&#47;blog&#62;</a>
    <a routerLink="/portfolio" class="w3-bar-item w3-button">portfolio</a>
  </div>

</div>
