<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <nav class="level">
      <img src="/assets/img/logo-crux.png" class="logoCrux">
    </nav>
  </div>
  <div class="navbar-end">
    <a routerLink="/" class="navbar-item">home</a>
    <a routerLink="/crux" class="navbar-item">crux</a>
    <a routerLink="/code" class="navbar-item code">&lt;&#47;code&#62;</a>
    <a routerLink="/portfolio" class="navbar-item">portfolio</a>
    <a routerLink="/admin" class="navbar-item">admin</a>
  </div>
</nav>
