<!-- main navbar -->
<nav class="navbar mainNavbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <nav class="level">
      <img src="/assets/img/logo-crux.png" class="logoCrux" routerLink="/">
    </nav>
  </div>
  <div class="navbar-end">
    <div *ngIf="loggedIn" class="navbar-item">
      <small class="authItem">logged in as {{ user.displayName }} | </small>
      <small class="authItem logoutButton" (click)="logout()">&nbsp;logout</small>
    </div>
    <div *ngIf="!loggedIn" class="navbar-item">
      <small class="authItem" routerLink="login">login&nbsp;</small><br>
      <small class="or" > or&nbsp;</small><br>
      <small class="authItem"routerLink="signup">sign up</small>
    </div>
    <a routerLink="/" class="navbar-item">home</a>
    <a routerLink="/crux" class="navbar-item">crux</a>
    <a routerLink="/code" class="navbar-item code">&lt;&#47;code&#62;</a>
    <a routerLink="/portfolio" class="navbar-item">portfolio</a>
    <a routerLink="/admin" class="navbar-item">admin</a>
  </div>
</nav>

<div class="mobile">

  <!-- mobile navbar -->
  <nav class="navbar mobileNavbar">
    <div class="navbar-brand">
      <nav class="level">
        <img src="/assets/img/burger-icon.png" class="burger-icon" (click)="toggleMenu()">
      </nav>
    </div>
  </nav>

  <!-- hidden mobile sidebar -->
  <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar" *ngIf="showMenu">
    <button (click)="toggleMenu()" class="w3-bar-item w3-large">CLOSE &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div>

</div>
