@import "../../variables.scss";

.navbar {
  background-color: #000000;
}

.logoCrux {
  height: 40px;
  margin: 10px;
}

.navbar-item {
  color: $light-gray;
}

a:hover {
  color: $blue !important;
  background-color: #000 !important;
}

.code {
  font-family: $font-code;
  color: $blue-green;
}

.code:hover {
  color: $blue !important;
}

.logoutButton:hover {
  cursor: pointer;
}

.authItem, small {
  color: $dark-gray;

}

.authItem:hover {
  cursor: pointer;
}

.or {
  color: $gray;
}
