@import "../../variables.scss";

section {
  background-color: $green;

  .columns {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
  }

  ul {
    list-style: initial;
    list-style-position: inside;
  }

  li {
    font-family: $font-raleway;
  }

  p {
    font-family: $font-calibri;
  }

  img {
    max-height: 250px;
    text-align: center;
  }

  .picture {
    text-align: center;
  }

}
