<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">

    <div class="columns">
      <div class="column">
        <p>Hello! I'm a programmer and writer based out of Portland, Oregon. As of {{ month }} {{year}}, this site is a work in progress. <a routerLink="/crux">My blog</a> is nearly complete and live <a href="https://github.com/greanbeetle">code examples</a> should soon be up and running. For now, my <a routerLink="portfolio">portfolio is here</a>.
        <br><br>
        <p>In my free time I enjoy backpacking in the mountains, playing chess and guitar, running, books, and films. I live in the Arbor Lodge neighborhood with my girlfriend, dog, and two cats.</p>
        <br>
        <a href="https://github.com/greanbeetle" class="commandLine">
          $ ls -a | grep &lt;&#47;code&#62;
        </a>
      </div>
      <div class="column picture">
        <img src="/assets/img/profilepic.png">
      </div>
    </div>

  </div> <!-- container -->
</section>
