<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">

    <div class="columns">
      <div class="column is two-thirds">
        <p>Hello! I am a programmer and writer based out of Portland, Oregon. My current area of technical focus is Angular and Javascript. Among the things I love are: books, backpacking through alpine fields, films, writing stories, and <a routerLink="code">writing code</a>. Here are some thoughts and facts.</p>
        <ul>
          <li>I've written three urban fantasy novels</li>
          <li>Simplicity is something to strive for</li>
          <li>I've run two marathons, 10 half-marathons</li>
          <li>One must never stop learning</li>
          <li>These lines are each six words</li>
        </ul>
      </div>
      <div class="column">

      </div>

    </div>



  </div> <!-- container -->
</section>
