@import "../../variables.scss";

section {
  background-color: $green;

  ul {
    list-style: initial;
    margin-left: 10%;
  }

  li {
    font-family: $font-calibri;
  }

  img {
    max-height: 250px;
  }

  .profilePic {
    text-align: center;
  }
}
