<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">

    <div class="columns">
      <div class="column is two-thirds">
        <p>Hello! I'm a programmer and writer based out of Portland, Oregon. This site houses examples of <a routerLink="code">my code</a>, my nascent tech blog 'crux', and my portfolio. Here are a few odds and ends about me.</p>
        <ul>
          <li>I've written three urban fantasy novels</li>
          <li>One hobby: backpacking through alpine fields</li>
          <li>Others: running, chess, guitar, books, films</li>
          <li>I'm a fan of continual learning</li>
          <li>My favorite movie is In Bruges</li>
        </ul>
      </div>
      <div class="column profilePic">
        <img src="/assets/img/profile_pic_blurred_grayscale.jpg">
      </div>
    </div>

  </div> <!-- container -->
</section>
