@import "../../variables.scss";

section {
  background-color: black;

  .columns {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
  }

  ul {
    list-style: initial;
    list-style-position: inside;
  }

  p {
    font-family: $font-raleway;
  }

  img {
    max-height: 250px;
    text-align: center;
  }

  .picture {
    text-align: center;
  }

  .commandLine {
    font-family: $font-code;
    background-color: #000;
    color: $blue-green;
    padding: 2px;
  }

  .commandLine:hover {
    color: $blue;
    cursor: pointer;
  }


}
