<div class="toast">
  <p-toast position="top-left"></p-toast>
</div>

<section class="section is-small">
  <div class="container">
    <h1 class="title">Create New Blog Post</h1>
    <hr>
    <!-- title -->
    <div class="field is-horizontal">
        <label class="label field-label">Title</label>
        <div class="control field-body has-icons-right">
          <input class="input is-primary"
                 (keyup)="onKey($event, title.value)"
                 placeholder="Write a precise, compelling title"
                 #title>
          <span class="icon is-small is-right">
            <fa-icon icon="check"></fa-icon>
          </span>
        </div>
    </div>

    <!-- subtitle -->
    <div class="field is-horizontal">
        <label class="label field-label">Subtitle</label>
        <div class="control field-body has-icons-right">
          <input class="input is-primary"
                 (keyup)="onKey($event, subtitle.value)"
                 placeholder="Be descriptive!"
                 #subtitle>
          <span class="icon is-small is-right">
            <fa-icon icon="check"></fa-icon>
          </span>
        </div>
    </div>

    <!-- date -->
    <div class="field is-horizontal">
        <label class="label field-label">Date</label>
        <div class="control field-body has-icons-right">
          <input class="input is-primary"
                 (keyup)="onKey($event, date.value)"
                 placeholder="The format is 'January 9, 2019'"
                 #date>
          <span class="icon is-small is-right">
            <fa-icon icon="check"></fa-icon>
          </span>
        </div>
    </div>

    <!-- category -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Category</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth is-primary">
              <select (change)="setCategory($event)">
                <option value="coding and programming">Coding and programming</option>
                <option value="writing">Writing</option>
                <option value="backpacking">Backpacking</option>
                <option value="movies">Movies</option>
                <option value="books">Books</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Content</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea is-primary"
                      placeholder="The bulk of your content goes here"
                      #content>
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- keywords -->
    <div class="field is-horizontal">
        <label class="label field-label">Keywords</label>
        <div class="control field-body has-icons-right">
          <input class="input is-primary"
                 (keyup)="onKey($event, keywords.value)"
                 placeholder="Do your research"
                 #keywords>
          <span class="icon is-small is-right">
            <fa-icon icon="check"></fa-icon>
          </span>
        </div>
    </div>

    <!-- button -->
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button
              class="button is-black"
              (click)="addArticle(title.value,
                       subtitle.value,
                       date.value,
                       content.value,
                       keywords.value)">
              Create Post
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
