@import "../../variables.scss";

section {
    .container {
        max-width: 600px;

        .title {
          font-family: $font-nova-lite;
          font-size: 2em;
        }

        .label {
          font-family: $font-nova-lite;
          font-size: 1em;
        }

        ::placeholder, option, select {
          font-family: $font-raleway;
          opacity: 1 !important;
        }

        button {
          font-family: $font-nova-lite;
        }

    }
}
