@import "../../variables.scss";

.toast {
  z-index: 500 !important;
}
.box {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    border: none !important;
    box-shadow: 0px 0px !important;
    .addArticleTitle {
      font-size: 2.5em;
      font-family: $font-nova-lite;
    }
    .label {
      font-family: $font-nova-lite;
      font-size: 1em;
    }
    ::placeholder, option, select {
      font-family: $font-raleway;
      opacity: 1 !important;
    }
    button {
      font-family: $font-nova-lite;
    }
}
