<section class="section is-medium">
  <div class="container">

    <!-- class 'field' is a container for a label, a form control, optional help text -->
    <div class="field">
      <label class="label">Title</label>
      <!-- class 'control' contains inputs, buttons, radios, icons -->
      <div class="control has-icons-left has-icons-right">
        <input class="input" placeholder="Write these with elan, flair">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope fa-xs"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check fa-xs"></i>
        </span>
      </div>
    </div>
    public id: string,
    public title: string,
    public subtitle: string,
    public date: string,
    public content: string,
    public keywords: string


  </div>
</section>


<div>
  <p (click)="addArticle(
    'testTitle2',
    'testSubtitle2',
    '8.7.18',
    'this is sample content',
    'keyword1, keyword2, keyword3'
  )">click to add</p>
</div>
