@import "../../variables.scss";

.section {
    .categoryTitle {
      font-family: $font-nova-norm;
      font-weight: 400 !important;
    }

    td, .titleCell, td:hover, .titleCell:hover {
      font-family: $font-raleway;
      cursor: pointer;
    }

    .deleteCell, .deleteCell:hover {
      color: #E5001C;
      cursor: pointer;
    }

    .editCell, .editCell:hover {
      color: #00DCB4;
      cursor: pointer;
    }

    .featureCell, .featureCell:hover {
      text-align: center;
      cursor: pointer;
    }

}
