@import "../../variables.scss";

.section {
    .categoryTitle {
      font-family: $font-nova-norm;
      font-weight: 400 !important;
    }

    .titleCell {
      width: 250px !important;
    }


}
