<section class="section">
  <div class="container">

    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Title</th>
          <th>Subtitle</th>
          <th>Date</th>
          <th>Category</th>
          <th>Keywords</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Title</th>
          <th>Subtitle</th>
          <th>Date</th>
          <th>Category</th>
          <th>Keywords</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </tfoot>
      <tbody>
        <ng-container *ngFor="let article of articles | async">
          <tr>
            <th>{{ article.title }}</th>
            <td>{{ article.subtitle }}</td>
            <td>{{ article.date }}</td>
            <td>{{ article.category }}</td>
            <td>{{ article.keywords }}</td>
            <td (click)="visitArticle(article)">edit</td>
            <td>delete</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</section>




<div class="card"  *ngFor="let article of articles | async">
  {{ article.title }}
  <br>
  {{ article.subtitle }}
  <a (click)="visitArticle(article)"> visit article </a>
  <hr>
</div>
