<section class="section">
  <div class="container">

    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class='categoryTitle'><b>Title</b></th>
          <th class='categoryTitle'><b>Date</b></th>
          <th class='categoryTitle'><b>Category</b></th>
          <th class='categoryTitle'><b>Edit</b></th>
          <th class='categoryTitle'><b>Delete</b></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let article of articles | async">
          <tr>
            <th class="titleCell"
                (click)="visitArticle(article)">
                {{ article.title }}
            </th>
            <td class="dateCell"
                (click)="visitArticle(article)">
                {{ article.date }}
            </td>
            <td class="categoryCell"
                (click)="visitArticle(article)">
                {{ article.category }}
            </td>
            <td>edit</td>
            <td class="deleteCell"
                (click)="deleteArticle(article)">
                delete
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</section>
