<div class="columns">
  <div class="column">
    <span shareButton="twitter"><img src="/assets/img/shareicon-twitter.png"></span>
  </div>
  <div class="column">
    <span shareButton="reddit"><img src="/assets/img/shareicon-reddit.jpeg"></span>
  </div>
  <div class="column">
    <span shareButton="linkedin"><img src="/assets/img/shareicon-linkedin.png"></span>
  </div>
  <div class="column">
    <span shareButton="facebook"><img src="/assets/img/shareicon-facebook.png"></span>
  </div>
</div>
