<button shareButton="facebook">facebook</button><br>
<button shareButton="twitter">twitter</button><br>
<button shareButton="linkedin" url="url">linkedin</button><br>
<button shareButton="reddit">reddit</button><br>
<span shareButton="twitter"><img src="/assets/img/shareicon-twitter.png" style="height:50px;"></span>
<span shareButton="facebook"><img src="/assets/img/shareicon-facebook.png" style="height:50px;"></span>
<span shareButton="reddit"><img src="/assets/img/shareicon-reddit.jpeg" style="height:50px;"></span>

<share-button button="pinterest" text="pin" theme="circles-light"></share-button>
