<div class="columns">
  <div class="column">
    <span shareButton="twitter"><img src="/assets/img/shareicon-twitter-color.png"></span>
  </div>
  <div class="column">
    <span shareButton="reddit"><img src="/assets/img/shareicon-reddit-color.png"></span>
  </div>
  <div class="column">
    <span shareButton="linkedin"><img src="/assets/img/shareicon-linkedin-color.png"></span>
  </div>
  <div class="column">
    <span shareButton="facebook"><img src="/assets/img/shareicon-facebook.png"></span>
  </div>
</div>
