<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          T.A.O. OREGON
        </p>
        <br>
        <br>
        <p>Angular, Firebase, HTML, CSS</p>
        <a (click)="toggle()" class="card-header-icon bright-green">
          &times;
        </a>
      </header>
      <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <br>
          <p class="githublink">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;On Github
          </p>
      </div>
    </div>

  </div>
</div>
