<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">

      <header class="card-header">
          <p class="card-header-title">
            T.A.O. OREGON
          </p>
          <a (click)="toggle()" class="card-header-icon">
            &times;
          </a>
      </header>

      <div class="card-content">
          <p class="subtitle">Angular, Firebase, HTML, SCSS, Bulma</p>
          <p>Led a 4-person team building a website with a database of 500 backpacking and hiking trails in Oregon. There is authentication, search functionality, and a variety of APIs. This was a 4-day group project for code school. The UI is incomplete.</p>
          <br>
          <br>
          <a class="githublink"
             href="https://github.com/GreanBeetle/tao-oregon">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;Github repository
          </a>
      </div>
    </div>

  </div>
</div>
