.section {
  background-image: url("/assets/img/portfolio-tao-oregon.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 0px;
}

.section:hover {
  // transform: scale(1.05);
  cursor: pointer;
}
