<footer class="footer">
  <div class="columns is-mobile">
    <div class="column is-one-quarter">
      <a href="https://github.com/GreanBeetle">
        <img src="/assets/img/github-icon.png" class="social-media-icon">
      </a>
    </div>
    <div class="column is-one-quarter">
      <a href="https://www.linkedin.com/in/johnrykken/">
        <img src="/assets/img/linkedin-icon.png" class="social-media-icon">
      </a>
    </div>
    <div class="column is-one-quarter">
      <a href="https://www.instagram.com/johnrykken/?hl=en">
        <img src="/assets/img/instagram-icon.png" class="social-media-icon">
      </a>
    </div>
    <div class="column is-one-quarter">
      <a href="https://twitter.com/johnrykken?lang=en">
        <img src="/assets/img/twitter-icon.png" class="social-media-icon">
      </a>
    </div>
  </div>
  <br>
  <br>
  <small style="margin:0 auto;">Copyright &#169; 2018 John Rykken</small>
</footer>
