@import "../../variables.scss";

footer {
    text-align: center;
    background-color: $dark-gray !important;

    .social-media-icon {
      height: 30px;
      width: 30px;
    }

    small {
      font-family: $font-raleway;
    }
}

@media only screen and (min-width: 770px) {
  .columns {
    margin-right: 200px;
    margin-left: 200px;
  }
}
