@import "../../variables.scss";

.section {
    text-align: center;
    .title {
        font-family: $font-nova-lite;
        font-size: 2.5em;
        font-weight: lighter;
    }
    .inputFields {
        .label {
          font-family: $font-nova-lite;
          margin-bottom: 0px;
        }
        input[type="text"], textarea[type="text"], option, select {
          font-family: $font-raleway;
          font-size: 12pt;
        }
    }
    .oldArticle {
        max-height: 400px;
        overflow: scroll;
        .titleGroup {
            text-align: center;
            .articleTitle {
              font-family: $font-raleway;
              font-size: 2em;
            }
            .articleSubtitle {
              font-family: $font-raleway;
              font-size: 1.5em;
            }
        }
        .keywordsAndCategory {
            text-align: left;
            .keywords, .category {
              font-family: $font-raleway;
              font-size: .8em;
            }
        }
        .columns {
          text-align: justify;
        }
    }
    button {
      font-family: $font-nova-lite;
      max-width: 500px;
      margin: 0 auto;
    }
}
