@import "../../variables.scss";

.section {
    text-align: center;

    .title {
      font-family: $font-nova-lite;
      font-size: 2.5em;
      font-weight: lighter;
    }

    .field {
        .label, ::placeholder {
          font-family: $font-raleway;
        }

        .label {
          margin-bottom: 0px;
        }
    }

}
