<section class="section is-large">
  <h1 class="title">Edit Article</h1>
  <div class="columns">
    <div class="column">
      <form>
              <input [(ngModel)]="article.title" #newTitle type="text" name="title">
              <input [(ngModel)]="article.date" #newDate type="text" name="subtitle">

              <!-- <textarea [(ngModel)]="m.notes" #newNotes type="text" name="notes" class="textarea is-primary"></textarea> -->
              <!-- <br>
            <div class="foot" style="text-align:center;">
              <button (click)="update(newTime.value, newDate.value, newPlace.value, newAddress.value, newCityState.value, newNotes.value)" class="button is-dark is-text-centered">UPDATE</button>
            </div> -->
      </form>
    </div>
    <div class="column">
      {{ article.title }}
      {{ article.date }}
    </div>

  </div>

</section>
