<div class="toast">
  <p-toast position="top-left"></p-toast>
</div>

<section class="section is-medium">
  <div class="container">
      <h1 class="title">
        E&nbsp;d&nbsp;i&nbsp;t&nbsp; A&nbsp;r&nbsp;t&nbsp;i&nbsp;c&nbsp;l&nbsp;e
      </h1>
      <hr>
      <div class="columns">
        <!-- form column -->
        <div class="column inputFields">

            <!-- new title -->
            <div class="field is-horizontal">
                <label class="label field-label">title</label>
                <div class="control field-body">
                  <input class="input is-primary"
                         [(ngModel)]="article.title"
                         #newTitle
                         type="text"
                         name="title">
                </div>
            </div>

            <!-- new date -->
            <div class="field is-horizontal">
                <label class="label field-label">date</label>
                <div class="control field-body">
                  <input class="input is-primary"
                         [(ngModel)]="article.date"
                         #newDate
                         type="text"
                         name="date">
                </div>
            </div>

            <!-- new subtitle -->
            <div class="field is-horizontal">
                <label class="label field-label">subtitle</label>
                <div class="control field-body">
                  <input class="input is-primary"
                         [(ngModel)]="article.subtitle"
                         #newSubtitle
                         type="text"
                         name="subtitle">
                </div>
            </div>

            <!-- category -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">category</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth is-primary">
                        <select (change)="updateCategory($event)">
                          <option value="articleCategory">{{ articleCategory }}</option>
                          <option value="coding and programming">Coding and programming</option>
                          <option value="writing">Writing</option>
                          <option value="backpacking">Backpacking</option>
                          <option value="movies">Movies</option>
                          <option value="books">Books</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- content -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">content</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <textarea class="textarea is-primary"
                                #newContent
                                [(ngModel)]="article.content"
                                type="text">
                      </textarea>
                    </div>
                  </div>
                </div>
            </div>

            <!-- keywords -->
            <div class="field is-horizontal">
                <label class="label field-label">keywords</label>
                <div class="control field-body">
                  <input class="input is-primary"
                         [(ngModel)]="article.keywords"
                         #newKeywords
                         type="text"
                         name="keywords">
                </div>
            </div>
        </div> <!-- end form column -->

        <!-- current article display -->
        <div class="column oldArticle">
          <div class="titleGroup">
            <h1 class="articleTitle">{{ article.title }}</h1>
            <p><i>{{ article.date }}</i></p>
            <h3 class="articleSubtitle">{{ article.subtitle }}</h3>
          </div>
          <br>
          <div class="keywordsAndCategory">
            <p class="category"><b>Category:</b> {{ articleCategory }}</p>
            <p class="keywords"><b>Keywords:</b> {{ article.keywords }}</p>
          </div>
          <br>
          <div class="articleContent">
            {{ article.content }}
          </div>
        </div>
      </div> <!-- end columns -->
      <br>
      <button class="button is-black is-text-centered is-medium is-fullwidth"
              (click)="updateArticle(newTitle.value, 
                                     newDate.value,
                                     newSubtitle.value,
                                     newContent.value,
                                     newKeywords.value)">
        u&nbsp;p&nbsp;d&nbsp;a&nbsp;t&nbsp;e
      </button>

  </div>
</section>
