<div class="container">
  <section class="section is-medium">
    <h2 class="subtitle" id="portfolio">
      C&nbsp;o&nbsp;d&nbsp;i&nbsp;n&nbsp;g&nbsp;&nbsp;
      P&nbsp;r&nbsp;o&nbsp;j&nbsp;e&nbsp;c&nbsp;t&nbsp;s
    </h2>
  </section>
  <app-portfolio-tao-oregon></app-portfolio-tao-oregon>
  <app-portfolio-west-oaks></app-portfolio-west-oaks>
  <app-portfolio-fomo-church></app-portfolio-fomo-church>
  <app-portfolio-film-fanatic></app-portfolio-film-fanatic>
  <app-portfolio-bianchi-brew></app-portfolio-bianchi-brew>
  <app-portfolio-upwork-clone></app-portfolio-upwork-clone>
  <section class="section is-medium">
    <span (click)="scrollUp()">back to top &#8593;</span>
  </section>


</div>
