<div class="container">
  <section class="section is-medium">
    <h2 class="subtitle" id="portfolio">
      C&nbsp;o&nbsp;d&nbsp;i&nbsp;n&nbsp;g&nbsp;&nbsp;
      P&nbsp;r&nbsp;o&nbsp;j&nbsp;e&nbsp;c&nbsp;t&nbsp;s
    </h2>
  </section>
</div>

<app-portfolio-tao-oregon></app-portfolio-tao-oregon>
<br><br><br>
<app-portfolio-west-oaks></app-portfolio-west-oaks>
<br><br><br>
<app-portfolio-fomo-church></app-portfolio-fomo-church>
<br><br><br>
<app-portfolio-upwork-clone></app-portfolio-upwork-clone>
<br><br><br>
<app-portfolio-film-fanatic></app-portfolio-film-fanatic>
<br><br><br>
<app-portfolio-epicoin></app-portfolio-epicoin>
<br><br><br>
<app-portfolio-bianchi-brew></app-portfolio-bianchi-brew>

<section class="section is-medium">
  <span (click)="scrollUp()">back to top &#8593;</span>
</section>
