<div class="card" style="text-align:center;">
  <h1>johnrykken.com2.0.0</h1>
  <h3>You have much work to do, my friend</h3>
  <ul>
    <li>check local cli version</li>
    <li>add bulma to the project</li>
    <li>set up and implement a github repository</li>
    <li>add a router to the project</li>
    <li>write a new README</li>
    <li>replicate all home-page content</li>
    <li>build an authentication service (firestore or firebase)</li>
    <li>add functionality for an admin user</li>
    <li>think about what functionality you would like on the admin page</li>
    <li>
      <ol>
        <li>CRUD for blog posts</li>
        <li>read and delete all user comments</li>
        <li>read and delete all images</li>
      </ol>
    </li>
    <li>with what are you going to build the blog?</li>
    <li>write a blog post</li>
    <li>make some API calls in CODE!</li>
    <li>pick 3 coding problems to start with</li>
    <li>add image upload functionality</li>
    <li>build a portfolio page</li>
  </ul>
</div>
