@media only screen and (min-width: 0px) and (max-width: 1088px)  {
  // blank
}

@media only screen and (min-width: 1089px) {
  .navbarContainer {
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    z-index: 10;
  }
  .body-content {
    margin-top: 60px;
  }
}
