@import "../../variables.scss";

section {
  h1 {
    color: blue;
    font-family: $font-shadows-two;
  }

  h2 {
    color: $blue-green;
    font-family: $font-shadows;
  }

  h4 {
    color: $green;
    font-family: $font-raleway;
  }

  h3 {
    font-family: novacento-norm;
  }
}
