@import "../../variables.scss";

.titleSection {
    text-align: center;
    .adminTitle {
      font-size: 2.5em;
      font-family: $font-nova-lite;
      color: #E5001C;
    }
}

.controlPanelSection {
    #mat-tab-label-content {
      font-family: $font-raleway !important;
    }
}
