<section class="section is-small titleSection">
  <div class="container">
    <p class="adminTitle">
      a&nbsp;d&nbsp;m&nbsp;i&nbsp;n&nbsp; &nbsp;p&nbsp;a&nbsp;n&nbsp;e&nbsp;l
    </p>
  </div>
</section>

<section class="section is-small controlPanelSection">
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Articles">
        <app-admin-article-list></app-admin-article-list>
      </mat-tab>
      <mat-tab label="Add Article">
        <app-article-add></app-article-add>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
