<section class="section is-small">
  <div class="container" id="skills-container">
    <h1 id="skills-main-title">SKILLS</h1>
    <!-- skills section -->
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/img/legosketch.jpg">
          </figure>
          <hr>
          <p class="title" id="skills-title">technical</p>
          <div class="columns">
            <div class="column">
              <ul>
                <li>HTML/SCSS</li>
                <li><b>Ruby</b></li>
                <li><b>Rails</b></li>
                <li>PostgreSQL</li>
                <li>Writing</li>
                <li>Github</li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li>Bootstrap/Bulma</li>
                <li><b>JavaScript</b></li>
                <li><b>Angular</b></li>
                <li>Firebase</li>
                <li>Google</li>
                <li>Pair Programming</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/img/softskill.jpg">
          </figure>
          <hr>
          <p class="title" id="skills-title">soft</p>
          <ul>
            <li id="humor"><i>Humor</i></li>
            <li>Communication</li>
            <li>Teamwork</li>
            <li id="creativity">CREATIVITY</li>
            <li>Time management</li>
            <li>Problem-solving</li>
          </ul>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/img/otherskills.png">
          </figure>
          <hr>
          <p class="title" id="skills-title">other</p>
          <ul>
            <li>Committed</li>
            <li>Conscientious</li>
            <li id="driven"><b>DRIVEN</b></li>
            <li>Kind</li>
            <li>Empathetic</li>
            <li>Authentic</li>
          </ul>
        </article>
      </div>
    </div>
    <!-- <br>
    <div class="codeSentenceContainer" style="text-align: center;">
      <h2 class="subtitle" >Please visit the <span routerLink="code">&lt;&#47;code&#62;</span> page for a technical demonstration.</h2>
    </div> -->
  </div>
</section>
