@import "../../variables.scss";

.section {
    height: 100% !important;
    min-height: 100% !important;
    background-color: $light-gray;
    text-align: center;

    h1 {
      font-family: $font-nova-lite;
      color: #000000 !important;
    }

    .card {
        max-width: 400px;
        margin: 0 auto;
        background-color: $dark-gray;
        padding: 20px;
        margin-top: 10%;
        padding-bottom: 25px;
        box-shadow: 1px 1px 1px #000;

        input {
          padding: 5px;
          text-align: center;
          font-family: $font-raleway;
          font-weight: bold;
          min-width: 300px;
        }

        .button {
          min-width: 300px;
          border-radius: 2px;
          font-family: $font-nova-norm;
          padding: 5px;
        }

        small {
          font-family: $font-nova-norm
        }

        .login, .login:hover {
          color: $blue;
          cursor: pointer;
        }
        
    }
}

// mobile
@media only screen and (max-width: 700px) {
    .section {
        .card {
            max-width: 300px;
            input {
              min-width: 150px;
            }
            .button {
              min-width: 150px;
            }
        }
    }
}
