@import "../../variables.scss";

.section {
    height: 100% !important;
    min-height: 100% !important;
    text-align: center;
    background-image: url("/assets/img/blurred-lights-two.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    .signupTitle {
        font-family: $font-raleway;
        font-size: 1.3em;
        color: #fff;
        font-weight: lighter;
    }
    .card {
        border-radius: 5px;
        max-width: 300px;
        margin: 0 auto;
        background-color: $campfire;
        padding: 20px;
        margin-top: 10%;
        box-shadow: 2px 2px 2px #262626;
        input {
          padding: 5px;
          text-align: center;
          font-family: $font-raleway;
        }
        ::placeholder{
          color: #262626;
        }
        .button {
          width: 100%;
          border-radius: 2px;
          font-family: $font-raleway;
          padding: 5px;
          background-color: $campfire-red;
        }
        small {
          font-family: $font-raleway;
          color: #fff;
        }
        .login {
          color: $dark-gray;
        }
        .login:hover {
          color: $blue;
          cursor: pointer;
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    .section {
        .card {
            max-width: 300px;
            input {
              min-width: 150px;
            }
            .button {
              min-width: 150px;
            }
        }
    }
}
