<section class="section">
  <div class="card">
    <h1 class="title">sign up</h1>
    <form>
      <input type="text" placeholder="username" #displayName><br><br>
      <input type="email" placeholder="email" #email><br><br>
      <input type="password" placeholder="password" #password><br><br>
      <a class="button is-black"
         (click)="signup(displayName.value, email.value, password.value)">
         sign up
      </a>
    </form>
    <br>
    <small>Already have an account?&nbsp;<span routerLink="/login" class="login">Log in</span></small>
  </div>
</section>
