@import "../../variables.scss";

.hero {
  background-image: url("/assets/img/backpacker.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.heroTitle {
  font-family: $font-nova-lite;
  font-size: 3em;
  color: #fff;
}

/* #heroTitle.animated {
  animation-duration: 3s;
  // animation-iteration-count: infinite;
} */

.subtitle {
  font-family: $font-nova-lite;
  color: $green;
  font-size: 2em;
}

.hero-body {
  text-align: center;
}

.card {
  text-align: center;
  background:rgba(255, 255, 255, 0.8);
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .heroTitle {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1em;
  }
}
