<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">

      <header class="card-header">
          <p class="card-header-title">
            Upwork Clone
          </p>
          <a (click)="toggle()" class="card-header-icon">
            &times;
          </a>
      </header>

      <div class="card-content">
          <p class="subtitle">Angular, Firebase, HTML, CSS</p>
          <p>This was a short project for code school. The objective was to clone a web page. I chose Upwork's
            <span href="https://www.upwork.com/i/how-it-works/client/">
                'How It Works' page.
            </span>
          </p>
          <br>
          <a class="githublink"
             href="https://github.com/GreanBeetle/upwork-clone">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;On Github
          </a>
      </div>
    </div>

  </div>
</div>
