<section class="section is-medium">
  <div class="container">

    <div class="introduction">
      <p class="introParagraph">
        The Max Mayhem books are four urban fantasy novels I started writing in 2006. Set in Portland, OR, they are a prequel followed by a trilogy. The prequel, <i>Lune</i> (2009), is under revision. <i>Bloodwood (2011)</i> is available on <a href="https://www.goodreads.com/book/show/11949572-bloodwood">Goodreads</a> and <a href="https://www.amazon.com/Bloodwood-Chronicles-Mayhem-John-Rykken-ebook/dp/B07957SW13">Amazon</a>. <i>The Oddclock</i> (2016) is available for publication. The final book, <i>The Garden Dark</i>, is unfinished.
      </p>
    </div>
    <br>

    <div class="books">
      <!-- lune -->
      <div class="columns">
        <div class="column is-3" style="text-align: center;">
          <img class="bookcover" src="/assets/img/lune.jpg" id="lune">
        </div>
        <div class="column">
          <p class="synopsis">
            Recklessly, Dr. Mayhem and the professor pass through the Moon Gate and discover Lune, land of perpetual night. Its people are trapped in a nightmare, in thrall to a dreaming Djinn. Dr. Mayhem and the professor must wake him, before they, too, give in to sleep.
          </p>
        </div>
      </div>

      <!-- bloodwood -->
      <div class="columns">
        <div class="column is-3" style="text-align: center;">
          <img class="bookcover" src="/assets/img/bloodwood.png" id="bloodwood">
        </div>
        <div class="column">
          <p class="synopsis">
            A hunt for a missing girl leads Max and Lydia to an eerily empty town in the cold, northern mountains of Canada. When night falls, Bloodwood wakes, and it will take all of Max and Lydia's cunning to survive until sunrise.
          </p>
        </div>
      </div>

      <!-- oddclock -->
      <div class="columns">
        <div class="column is-3" style="text-align: center;">
          <img class="bookcover" src="/assets/img/oddclock.jpg" id="oddlock">
        </div>
        <div class="column">
          <p class="synopsis">
            Cursed skateboarder Max Mayhem and his friend, Lydia, befriend Henry Bishop, who has a dark and secret history. When they learn that the professor has been tracking Henry's father through time, their worlds threaten to tear apart. <i>~ 594 pages. Manuscript available on request.</i>
          </p>
        </div>
      </div>

      <!-- the garden dark -->
      <div class="columns">
        <div class="column is-3" style="text-align: center;">
          <img class="bookcover" src="/assets/img/gardendark.jpg" id="garden dark">
        </div>
        <div class="column">
          <p class="synopsis">
            synopsis here
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
