@import "../../variables.scss";

section {
    background-color: $light-gray;

    .container {
      padding-left: 100px;
      padding-right: 100px;
    }

    .title-container {
      text-align: center;
    }

    .writing-title {
      font-family: $font-nova-lite;
      font-size: 3em;
      font-weight: 400;
      color: #000;
    }

    .synopsis, .introParagraph {
      font-family: $font-raleway;
      text-align: justify;
    }

    .bookcover {
      max-height: 150px;
      margin: 0 auto;
    }
}

// mobile
@media only screen and (min-width: 0px) and (max-width: 770px) {
  .section {
      .container {
        padding-left: 5px;
        padding-right: 5px;
      }
  }
}
