<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">

      <header class="card-header">
          <p class="card-header-title">
            West Oaks Condo Association
          </p>
          <a (click)="toggle()" class="card-header-icon">
            &times;
          </a>
      </header>

      <div class="card-content">
          <p class="subtitle">Firestore, Firebase Storage, Angular, HTML, SASS</p>
          <p>A coding partner and I built this web application for a client. It has a custom CMS with file upload functionality and an assortment of CRUD features.</p>
          <br><br>
          <a class="westOaksLink"
             href="https://westoakscondos.org">
            <span><img src="/assets/img/icon-west-oaks.png" ></span>
            &nbsp;&nbsp;&nbsp;Visit website
          </a>
          <br><br>
          <a class="githublink"
             href="https://github.com/GreanBeetle/west-oaks">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;View Github repository
          </a>
      </div>
    </div>

  </div>
</div>
