@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/circles/circles-light-theme.css';

@font-face {
  font-family: novacento-norm;
  src: url("/assets/fonts/novacento-normal.otf") format('opentype');
}

@font-face {
  font-family: novacento-lite;
  src: url("/assets/fonts/novacento-light.otf") format('opentype');
}

@font-face {
  font-family: monaco;
  src: url("/assets/fonts/monaco.ttf") format('truetype');
}

html, body { height: 100%; min-height: 100% }
body { margin: 0; font-family: 'Raleway', sans-serif; }

/* angular material styling */
.mat-tab-label-content {
  font-family: 'novacento-norm' !important;
  font-size: 1.3em !important;
  color: #000000 !important;
}
/* angular material styling */
