<div class="container">
  <section class="section" (click)="toggle()">

  </section>
</div>

<div class="w3-container">
 <div class="w3-modal w3-animate-opacity" [style.display]="displayType()">

    <div class="card">

      <header class="card-header">
          <p class="card-header-title">
            Films of the Aughts
          </p>
          <a (click)="toggle()" class="card-header-icon">
            &times;
          </a>
      </header>

      <div class="card-content">
          <p class="subtitle">Ruby, Rails, PostgreSQL, SCSS, Bulma</p>
          <p>This 2-day project utilizes a relational database and features one-to-many relationships.</p>
          <br>
          <a class="githublink"
             href="https://github.com/GreanBeetle/film-fanatics">
            <span><img src="/assets/img/github-icon.png" ></span>
            &nbsp;&nbsp;&nbsp;On Github
          </a>
      </div>
    </div>

  </div>
</div>
