@import "../../variables.scss";

.container {
    padding-left: 15%;
    padding-right: 15%;
    .archivesTitle {
      font-family: $font-raleway;
      margin: 0;
      font-size: 1.3em;
      color: black;
    }
    .box {
        border-radius: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        .articleImage, .articleContent {
          display: inline-block;
        }
        img {
          max-height: 150px;
        }

    }


}
