@import "../../variables.scss";

.container {
    padding-left: 15%;
    padding-right: 15%;
    .archivesTitle {
      font-family: $font-raleway;
      margin: 0;
      font-size: 1.3em;
      color: black;
    }
    .box {
        border-radius: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        .articleImage, .articleContent {
          display: inline-block;
        }
        img {
          height: 150px;
        }
        .articleContent {
            padding-left: 40px;
            p, span {
              font-family: $font-raleway;
            }
            .dateAndCategory {
              color: $dark-gray;
              font-size: .8em;
            }
            .articleTitle {
              color: black;
              font-size: 1.3em;
            }
            .articleSubtitle {
              margin-top: 10px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
  .articleImage {
    display: none;
  }
  .box {
    padding: 25px;
  }
}
